# Compiled Object files
*.o
*.obj
*.dll

# Compiled Static libraries
*.a
*.lib


# DUB
.dub
docs.json
__dummy.html
docs/

console.log
q2boot-test-library
test-disk.img
coverage.*
q2boot
build/
diskimages/
